<section class="intro">
    <div>
        <h2>{{ section.settings.intro_heading }}</h2>
        <p>{{ section.settings.intro_text }}</p>
    </div>
    <img src="{{ 'logo.svg' | asset_url }}" width="281" height="20" alt="{{ shop.name }}">
</section>

{% stylesheet %}
  section.intro {
    padding-top: 64px;
    padding-bottom: 64px;
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 64px;
    align-items: center;
    justify-content: center;

    @media (max-width: 959px) {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 48px;
        padding-top: 48px;
        padding-bottom: 48px;

        img {
            order: -1;
            width: 200px;
        }
    }

    h2 {
        margin-bottom: 0.83em;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Intro",
  "settings": [
    {
      "type": "text",
      "id": "intro_heading",
      "label": "Intro Heading",
      "default": "We're a small, locally owned flower farm in Arvada, Colorado"
    },
    {
      "type": "text",
      "id": "intro_text",
      "label": "Intro Text",
      "default": "From Dahlias to Snapdragons, and everything in-between, we specialize in growing beautiful, organic cut flowers to be used for any and all occassions!"
    }
  ],
  "presets": [
    {
      "name": "Intro"
    }
  ]
}
{% endschema %}