/* ----------------- Fonts ----------------- */

/* Gatwick Bold */
@font-face {
  font-family: 'Gatwick Bold';
  src: url('gatwick-bold-webfont.woff2') format('woff2'),
       url('gatwick-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Maison Neue Mono */
@font-face {
  font-family: 'Maison Neue Mono';
  src: url('maisonneue-mono-webfont.woff2') format('woff2'),
       url('maisonneue-mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ----------------- Buttons ----------------- */

button,
a.button {
    display: inline-block;
    font-family: var(--font-family-name-base), 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-green);
    padding: 8px 32px;
    border: 2px solid var(--color-green);
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:not(.button-secondary):hover {
        filter: brightness(130%);
    }

    &.button-secondary {
        background-color: var(--color-white);
        color: var(--color-green);
        border-color: var(--color-green);

        &:hover {
            background-color: var(--color-green);
            color: var(--color-white);
        }
    }
}

/* ----------------- Forms ----------------- */

form {
    fieldset {
        padding: 0;
        border: none;
    }

    input[type="text"] {
        border: none;
        border-radius: 24px;
        padding: 8px 16px;
        line-height: 24px;
        width: 100%;
    }

    .actions {
        margin-top: 16px;
    }
}

/* ----------------- Wave Divider ----------------- */

.wave-divider {
    position: relative;

    &::before {
        content: '';
        display: block;
        -webkit-clip-path: url(#solid-uneven-waves-top-1);
        clip-path: url(#solid-uneven-waves-top-1);
        background: var(--color-green);
        height: 60px;
    }

    .wave-content {
        margin-top: -1px;
        padding: 32px 32px 96px;
        background: linear-gradient(180deg, rgb(105, 131, 51) 0%, rgb(105, 131, 51) 70%, rgb(255, 255, 255) 100%);
        color: var(--color-white);
    }
}