/* ----------------- Fonts ----------------- */

/* Gatwick Bold */
@font-face {
  font-family: 'Gatwick Bold';
  src: url('gatwick-bold-webfont.woff2') format('woff2'),
       url('gatwick-bold-webfont.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

/* Maison Neue Mono */
@font-face {
  font-family: 'Maison Neue Mono';
  src: url('maisonneue-mono-webfont.woff2') format('woff2'),
       url('maisonneue-mono-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* ----------------- Buttons ----------------- */

button.button,
a.button {
    display: inline-block;
    font-family: var(--font-family-name-base), 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 20px;
    text-decoration: none;
    color: var(--color-white);
    background-color: var(--color-green);
    padding: 8px 32px;
    border: 2px solid var(--color-green);
    border-radius: 24px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    &:not(.button-secondary):hover {
        filter: brightness(130%);
    }

    &.button-secondary {
        background-color: var(--color-white);
        color: var(--color-green);
        border-color: var(--color-green);

        &:hover {
            background-color: var(--color-green);
            color: var(--color-white);
        }
    }
}

/* ----------------- Tip ----------------- */

.tip {
    position: relative;
    background-color: #E8BA3D80;
    padding: 16px 16px 16px 56px;
    border-radius: 12px;

    &::before {
        content: '';
        display: inline-block;
        height: 24px;
        width: 24px;
        background-image: var(--icon-note);
        background-size: cover;
        position: absolute;
        top: 16px;
        left: 16px;
    }
}

/* ----------------- Forms ----------------- */

form {
    fieldset {
        padding: 0;
        border: none;
    }

    select,
    input[type="text"] {
        border: 2px solid var(--color-grey);
        border-radius: 24px;
        padding: 6px 16px;
        line-height: 24px;
        width: 100%;
    }

    .actions {
        margin-top: 16px;
    }
}

.atc-wrap {
    display: flex;
    column-gap: 16px;

    .quantity-wrap {
        display: flex;
        align-items: stretch;
        border: 2px solid var(--color-grey);
        border-radius: 24px;

        input[name="quantity"] {
            width: 48px;
            text-align: center;
            -moz-appearance: textfield; /* hide native arrows in Firefox */
            border: none;

            &::-webkit-outer-spin-button,
            ::-webkit-inner-spin-button {
                -webkit-appearance: none; /* hide native arrows in Chrome/Safari */
            }
        }

        .quantity-btn {
            width: 40px;
            border: none;
            cursor: pointer;
            padding: 0;
            background: none;
            font-family: var(--font-family-name-base);
            font-size: 18px;
            transition: all 0.3s ease-in-out;

            &:hover {
                background-color: #e9e9ed;
            }

            &.decrement {
                border-top-left-radius: 24px;
                border-bottom-left-radius: 24px;
            }

            &.increment {
                border-top-right-radius: 24px;
                border-bottom-right-radius: 24px;
            }
        }
    }
}


/* ----------------- Wave Divider ----------------- */

.wave-divider {
    position: relative;

    &::before {
        content: '';
        display: block;
        -webkit-clip-path: url(#solid-uneven-waves-top-1);
        clip-path: url(#solid-uneven-waves-top-1);
        background: var(--color-green);
        height: 60px;
    }

    .wave-content {
        margin-top: -1px;
        margin-bottom: 64px;
        padding: 32px;
        background: var(--color-green);
        color: var(--color-white);
    }
}

/* ----------------- Swiper ----------------- */

.swiper {
    --swiper-pagination-color: var(--color-green);
    --swiper-navigation-color: var(--color-white);
}

.swiper-main {
    width: 100%;
    margin-bottom: 16px;
}

.swiper-thumb {
    box-sizing: border-box;
    padding: 10px 0;

    .swiper-slide {
        width: 25%;
        height: 100%;
        opacity: 0.4;
        cursor: pointer;

        img {
            max-height: 80px;
            object-fit: cover;
        }
    }

    .swiper-slide-thumb-active {
        opacity: 1;
        cursor: default;
    }
}

/* ----------------- Title Banner ----------------- */
.title-wrap {
    position: relative;
    height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: var(--bg-collections);
    background-size: cover;
    background-position: center;
    color: var(--color-white);
    margin-top: -48px;
    margin-bottom: 48px;

    h1 {
        z-index: 10;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #00000040;
    }
}