/* -------------- Variables -------------- */

:root {
  --color-white: #FFFFFF;
  --color-black: #000000;
  --color-orange: #E4780E;
  --color-orange-2: #E9AA6C;
  --color-yellow: #E8BA3D;
  --color-yellow-2: #F4DEAD;
  --color-green: #698333;
  --color-green-2: #D1D8C5;
  --color-blue: #0E4458;
  --color-blue-2: #CFE5E4;
  --font-family-name-base: 'Maison Neue Mono';
  --font-family-name-title: 'Gatwick Bold';
}